.venv
__pycache__
.ipynb_checkpoints
.vscode
.cache
.git

raw_downloads
filtered
natural_abstraction/yolo_cls_dataset
natural_abstraction/yolo_runs
results_n2000
results_n500
data

*.pt
*.pth
*.onnx
*.npy